body{
    background-image: url(./fondos/tex2.png);
    color: chocolate;
}
.COLOR{
    background-color: whitesmoke;
}
.logo{
    width: 150px;
}
.mr{
    margin-right: 60px;
}
li a:hover{
    font-weight: bold;
}
.frase1{
    font-family: 'Bebas Neue', cursive;
    font-size: 2.6rem;
}
.frase2{
    font-family: 'MonteCarlo', cursive;
    font-size: 2.5rem;
}

